*{
   padding: 0px;
   margin: 0px;
}
.banner{
   display: flex;
   align-items: center;
}
.banner-text{
   margin: 10px;
   padding: 20px;
}
.color{
   color: rgba(128, 0, 0, 0.94);
}
.banner-text h1{
font-size: 400%;
}
.svg-btn svg{
   width: 15px;
   /* display: flex; */
  /* justify-content: center;
   align-items: center; */
   text-align: center;
   
   
}
.btn{
padding: 8px 15px;
background-color: darkolivegreen;
color: aliceblue;
border: 0px;
border-radius: 5px;
}